/*wsui-rotatable Start*/
$wsui-rotatable-options: (
  duration: 0.3s,
  items: (
    45,
    90,
    180,
    270,
    360
  )
) !default;

.wsui-rotatable {
  /* prettier-ignore */
  $items: map-get($map: $wsui-rotatable-options, $key: items );
  $duration: map-get( $map: $wsui-rotatable-options, $key: duration );
  /* prettier-ignore-end */

  .is-rotatable {
    transform: rotate(0);
    transition: all $duration;
  }

  @each $item in $items {
    &.is-#{$item} {
      &:hover {
        .is-rotatable {
          transform: rotate(#{$item}deg);
        }
      }
    }
  }
}
/*wsui-rotatable End*/
